<% provide(:title, "Contact") %>
<h1>Sample App</h1>
<p>
  Cotact the Ruby on Rails tutorial about the sample app at the <a href="http://www.railstutorial.org/contact" target="_blank">contact page</a>
</p>